body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Weather {
  padding: 16px;
  margin: 30px auto;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: rgba(240, 239, 239, 0.922);
}

.Weather .form {
  width: 90%;
  margin: auto;
}

.Weather .btn {
  margin: auto;
}

.Weather h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 10px;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.Weather ul {
  margin: 10px;
  padding: 13px;
}
.Weather li {
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  list-style: none;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .temperature {
  font-size: 64px;
  margin-left: 10px;
  font-weight: bold;
}

.Weather .unit {
  font-size: 16px;
  position: relative;
  top: -34px;
}
